@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Roboto+Slab:wght@300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* CHECKBOX TOGGLE SWITCH */
/* @apply rules for documentation, these do not work as inline style */
.toggle-checkbox {
  /* @apply: right-0 border-green-400; */
  /* right: 0; */
  border-color: rgb(15, 118,110);
}
.toggle-checkbox:checked {
  @apply: right-0 border-green-400;
  right: 0;
  border-color: rgb(20 184 166);
}
.toggle-checkbox:checked + .toggle-label {
  @apply: bg-teal-400;
  background-color: rgb(20 184 166);
}